<section>
    <div class="container">
      <el-form class="login_form" :model="user" :rules="loginRules" ref="user" label-position="left" label-width="0px" v-loading="loadingflag" element-loading-text="页面跳转中">
       <h3 class="title">欢迎登录后台管理系统</h3>
       <el-form-item prop="account">
         <el-input type="text" v-model="user.account" auto-complete="off" placeholder="账号"></el-input>
       </el-form-item>
       <el-form-item prop="checkPass">
         <el-input type="password" v-model="user.checkPass" auto-complete="off" placeholder="密码"></el-input>
       </el-form-item>
        <el-form-item style="width:100%;">
          <el-button class="login_button" type="primary" style="width:40%;" @click="handleSubmit">登录</el-button>
           <el-button class="login_button" type="primary" style="width:40%;" @click="toReg">注册</el-button>
        </el-form-item>
    </el-form>
  </div>
</section>
  
